<h1>All Blogs</h1>

<%= render 'form' %>



<ul id="blog-list">
  <% @blogs.each do |blog| %>
<!--     <li>
      <a href='<%= "/blogs/#{blog.id}" %>'>
        <%= blog.title %>
      </a>
    </li> -->
    <li><%= link_to blog.title, blog %></li>
  <% end %>
</ul>


<script>

  $(document).ready(function(){
    $("#new_blog").submit(function(e){
      e.preventDefault();
      var action = $(this).attr('action');
      var method = $(this).attr('method');
      var formData = $(this).serialize();

      $.ajax({
        type: method,
        url: action,
        data: formData
        // dataType: "json"
      }).done(function(response){
        // $("#blog-list").append('<li><a href="/blogs/'+ response.id +'">' + response.title + '</a></li>')
        $("#blog-list").append(response)
      })
    })

  })

</script>